@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "IS 413 - Grade Calculator";
}

@model FirstASPNETWebApp.Models.GradeModel
<body>
    <div id="grade">
        <form method="post">
            <label>Assignments</label>
            <input type="number" id="assignments" asp-for="assignments">%
            <div style="font-style: italic; font-size: .9rem; color: #ff0000;">@Html.ValidationMessageFor(model => model.assignments)</div>
            <br />
            <br />
            <label>Group Project</label>
            <input type="number" id="group" asp-for="group">%
            <div style="font-style: italic; font-size: .9rem; color: #ff0000;">@Html.ValidationMessageFor(model => model.group)</div>
            <br />
            <br />
            <label>Quizzes</label>
            <input type="number" id="quizzes" asp-for="quizzes">%
            <div style="font-style: italic; font-size: .9rem; color: #ff0000;">@Html.ValidationMessageFor(model => model.quizzes)</div>
            <br />
            <br />
            <label>Exams</label>
            <input type="number" id="exams" asp-for="exams">%
            <div style="font-style: italic; font-size: .9rem; color: #ff0000;">@Html.ValidationMessageFor(model => model.exams)</div>
            <br />
            <br />
            <label>INTEX</label>
            <input type="number" id="intex" asp-for="intex">%
            <div style="font-style: italic; font-size: .9rem; color: #ff0000;">@Html.ValidationMessageFor(model => model.intex)</div>
            <br />
            <br />
            <input type="submit" id="submit" name="submit" value="Calculate Grade" />
        </form>
        <div id="sub">
            <em>Your grade this semester:</em>
            <h1 id="letterOutput"></h1>
            <h1 id="gradeOutput"></h1>
            @if (ViewData.ModelState.IsValid)
            {
                <script>
                    document.getElementById('letterOutput').innerHTML = window.localStorage.getItem('letter');
                    document.getElementById('gradeOutput').innerHTML = window.localStorage.getItem('grade');
                    window.localStorage.clear();
                </script>
            }

        </div>
    </div>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>

